.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-header {
  border-bottom: 1px solid #F6434873;
}

.card-footer {
  border-top: 1px solid #F6434873;
}

.button-new {
  background-color: #F64348 !important;
  border-color: #F64348cb !important;
  color: #ffffff !important;
}

.button-new:disabled {
  opacity: 0.5;
}

.icon:hover, span.button-label {
  color: #ffffff !important;
}

.button-cancel {
  color: #ffffff !important;
  border-color: #F6434873 !important;
}

.button-cancel:hover {
  background-color: #F64348 !important;
  color: #ffffff !important;
}

.d-flex {
  display: flex;
}

.d-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapp {
  flex-wrap: wrap;
}
