body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #202124;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset:focus-within {
  border-color: #F64348 !important;
}

a {
  color: #F64348;
}

.d-flex {
  display: flex;
}

.d-flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapp {
  flex-wrap: wrap;
}

.css-1jgdtkb-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #F79D9F !important;
}

.css-axj3wf-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: white !important;
}